.searchContainer {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-input);
    border-radius: 4px;
    padding: 0.5rem;
    background-color: var(--bg-input);
    width: 100%;
    max-width: 600px;
    transition: border-color 0.3s ease-in-out;
}

.searchInput {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 0.5rem;
    font-size: 14px;
    color: var(--gray);
    background-color: transparent;
    transition: color 0.3s ease-in-out;
}

.searchInput::placeholder {
    color: var(--light-gray);
}

.searchInput:focus {
    color: var(--black);
}

.searchContainer:focus-within {
    border-color: var(--blue-3);
}

.searchButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}